body {
  line-height: 100vh;
  text-align: center;
}

div {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 12em;
  border-radius: 50%;
}
div:not(:nth-child(1)) {
  margin-left: -6em;
}
div:nth-child(even) {
  top: 6em;
}
div.blue {
  border-top: solid 1.4em #0085c7;
  border-left: solid 1.4em #0085c7;
  border-bottom: solid 1.4em #0085c7;
  border-right: solid 1.4em #0085c7;
}
div.yellow {
  border-top: solid 1.4em #f4c300;
  border-left: solid 1.4em #f4c300;
  border-bottom: solid 1.4em #f4c300;
  border-right: solid 1.4em #f4c300;
}
div.black {
  border-top: solid 1.4em black;
  border-left: solid 1.4em black;
  border-bottom: solid 1.4em black;
  border-right: solid 1.4em black;
}
div.green {
  border-top: solid 1.4em #009f3d;
  border-left: solid 1.4em #009f3d;
  border-bottom: solid 1.4em #009f3d;
  border-right: solid 1.4em #009f3d;
}
div.red {
  border-top: solid 1.4em #df0024;
  border-left: solid 1.4em #df0024;
  border-bottom: solid 1.4em #df0024;
  border-right: solid 1.4em #df0024;
}

*:after, *:before {
  content: "";
  display: block;
  position: absolute;
  border: 5px #fff solid;
  border-radius: 50%;
}

*:after {
  top: -0.1em;
  left: -0.1em;
  right: -0.1em;
  bottom: -0.1em;
}

*:before {
  top: -1.7em;
  left: -1.7em;
  right: -1.7em;
  bottom: -1.7em;
}

.mask {
  position: absolute;
  left: -22px;
  top: -22px;
  z-index: 1;
  border-top: solid 1.4em rgba(0, 0, 0, 0) !important;
  border-left: solid 1.4em rgba(0, 0, 0, 0) !important;
  border-bottom: solid 1.4em rgba(0, 0, 0, 0) !important;
}
.mask:after {
  border-right: solid 0.35em white !important;
  border-top: solid 0.35em rgba(0, 0, 0, 0) !important;
  border-left: solid 0.35em rgba(0, 0, 0, 0) !important;
  border-bottom: solid 0.35em rgba(0, 0, 0, 0) !important;
}
.mask:before {
  border-right: solid 0.35em white !important;
  border-top: solid 0.35em rgba(0, 0, 0, 0) !important;
  border-left: solid 0.35em rgba(0, 0, 0, 0) !important;
  border-bottom: solid 0.35em rgba(0, 0, 0, 0) !important;
}
.mask.yellow {
  transform: rotate(-55deg);
}
.mask.green {
  transform: rotate(-55deg);
}
